footer.footer(style="background-color: orange; padding: 20px; color: white;")
    .container
        .row
            .col-md-3
                h5 Liên hệ
                p Địa chỉ: #{settingGeneral.address}
                p Điện thoại: #{settingGeneral.phone}
                p Email: #{settingGeneral.email}
                
            .col-md-3
                h5 Chuyên mục
                ul.list-unstyled
                    li 
                        a(href="/") Trang chủ
                    li 
                        a(href="/topics") Chủ đề
                    li 
                        a(href="/user/info") Thông tin cá nhân

            .col-md-3
                h5 Theo dõi chúng tôi
                a(href=settingGeneral.facebook target="_blank") 
                    <i class="fa-brands fa-facebook"> 
                        span Facebook
                    </i>
                br 
                a(href=settingGeneral.twitter target="_blank") 
                    <i class="fa-brands fa-twitter"> 
                        span Twitter
                    </i> 
                br
                a(href=settingGeneral.tiktok target="_blank") 
                    <i class="fa-brands fa-tiktok">
                        span  Tiktok
                    </i> 
            .col-md-3
                iframe(
                        src=settingGeneral.maps
                        width="100%"
                        height="200"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                    )
        .text-center.mt-3
            | © #{settingGeneral.copyright} | Bản quyền © 2024. Tất cả quyền được bảo lưu.
