header.header
    .container 
        .row.align-items-center 
            .col-2.align-items-left
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo.svg", alt="Logo")
            .col-4
                .box-search 
                    form(
                        action="/search/result"
                        method="GET"
                    )
                        div(class="form-group d-flex mb-0")
                            input(
                                type="text"
                                placeholder="Nhập từ khóa..."
                                class="form-control"
                                name="keyword"
                                value=keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) Tìm
                    .inner-suggest
                        .inner-list
            .col-6
                .inner-menu 
                    ul 
                        li 
                            a(href="/")
                                i(class="fa-solid fa-house")
                                span Trang chủ
                        li 
                            a(href="/topics")
                                i(class="fa-solid fa-music")
                                span Chủ đề
                        li  
                            a(href="/favorite-songs")
                                i(class="fa-solid fa-heart")
                                span Yêu thích
                        li
                            a(href="/user/register")
                                i(class="fa-solid fa-user")
                                span Đăng ký
                        li
                            a(href="/user/login")
                                i(class="fa fa-sign-in" aria-hidden="true")
                                span Đăng nhập
