extends ../../layouts/default.pug

block main 
    h1.mb-3 Thêm mới ca sĩ

    form(
        action=`${prefixAdmin}/singers/create`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="fullName") Họ tên
            input(
                type="text"
                class="form-control"
                id="fullName"
                name="fullName"
                required
            )
        div(class="form-group")
            label(for="realName") Tên thật
            input(
                type="text"
                class="form-control"
                id="realName"
                name="realName"
                required
            )
        div(class="form-group")
            label(for="birthYear") Năm sinh
            input(
                type="number"
                id="birthYear"
                name="birthYear"
                class="form-control"
                min="1900"
                max="2025"
                required
            )
        div(class="form-group")
            label(for="hometown") Quê quán
            input(
                type="text"
                class="form-control"
                id="hometown"
                name="hometown"
                required
            )
        div(class="form-group")
            label(for="nationality") Quốc tịch
            input(
                type="text"
                class="form-control"
                id="nationality"
                name="nationality"
                required
            )
        div(
            class="form-group"
            upload-image
        )
            label(for="avatar") Ảnh 
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
            )
            div(class="image-container")
                img(
                    src=""
                    class="image-preview"
                    upload-image-preview
                )
                span.button-cancel X
        div(class="form-group")
            label(for="description") Mô tả
            input(
                type="text"
                class="form-control"
                id="description"
                name="description"
            )
        div(class="form-group")
            label(for="position") Vị trí
            input(
                class="form-control"
                type="number"
                id="position"
                name="position"
                value=countSinger + 1
                readonly
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                name="status"
                value="active"
                id="statusActive"
                checked=true
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                name="status"
                value="inactive"
                id="statusInactive"
            )
            label(for="statusInactive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                class="btn btn-primary"
                type="submit"
            ) Tạo mới